.container {
   position: relative;
   width: 50%;
   float:left; 
   display:inline; 
   width: 25%;
   margin-right: 0.7rem;
 }
 
 .image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
   
 }
 
 .middle {
   transition: 1s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%)
 }
 
 /* .container:hover .image {
   opacity: 0.1;
 } */
 
 .container:hover .middle {
   opacity: 1;
 }
 
 .name-text {
   background-color: rgba(73, 182, 182, 0.657);
   color: white;
   font-size: 32px;
   padding: 10px 32px;
   text-align: center;
 }

 .job-position-text {
   background-color: rgba(255, 255, 255, 0.657);
   color: rgba(0, 0, 0, 0.657);
   font-size: 16px;
   padding: 10px 32px;
   text-align: center;
 }